# Excludes for IDE settings folders
.idea
.vscode
.settings/

# Excludes python generated code
__pycache__/

# Excludes for build folders for modules
target/
*.class

# Exclude extensions
*.iml

# Exclude eclipse configs
.classpath
.project

# Misc.
# generated folder from using flowdroid
sootOutput/

Stoat/CONF.txt

/results/
GoalExplorer/results/

/logs/
GoalExplorer/logs
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
